@import "~antd/dist/antd.css";

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Home */
.services-section {
  padding: 6rem 0;
}

.service-section-description {
  margin: 0 30px 50px 30px;
}

.main-chart {
  padding: 5rem 0;
}

.kpi-section {
  padding-top: 5rem;
  padding-bottom: 7rem;
}

.footer-section {
  padding-top: 5rem;
}

.low-bar {
  margin: 5rem 0;
  padding: 1rem 0;
}

.footer-container {
  margin-bottom: 8rem;
}

.theicon {
  display: inline-block;
}

.logo-footer {
  margin-bottom: 5rem;
}

.login-form-button {
  width: 100%;
}

.form-container {
  margin: 5rem auto;
  padding: 0 1rem;
}

.icon-form {
  margin-bottom: 2rem;
}

#center-buttons-table {
  justify-content: flex-end;
  align-items: center;
}

#remove-margin-buttons {
  margin: 0;
}

.margin-top {
  margin-top: 5rem;
}

.margin-bottom {
  margin-bottom: 5rem;
}

@media (max-width: 576px) {
  .main-chart {
    padding: 3rem 0.5rem;
  }

  .kpi-section {
    padding: 3rem 0.5rem;
  }

  .margin-top-responsive {
    margin-top: 5rem;
  }

  .responsive-padding-sides {
    padding: 0 1rem;
  }
}
